.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background-color: #333;
    color: white;
    display: flex;
    padding: 20px 0;
}
.header-container {
}
.header__nav {
    margin: 0 auto;
    display: flex;
    gap: 20px;
}

